{:output-dir "app/dev/js/out_main", :closure-defines {"re_frame.trace.trace_enabled_QMARK_" true}, :externs ["app/dev/js/externs.js" "node_modules/closurecompiler-externs/path.js" "node_modules/closurecompiler-externs/process.js" "closure-js/externs"], :elide-asserts true, :optimizations :simple, :warnings true, :preloads [day8.re-frame-10x.preload], :output-to "app/dev/js/cljsbuild-main.js", :output-wrapper true, :libs ["closure-js/libs"], :target :nodejs, :main "anh.core", :pretty-print true}