.DS_Store
pom.xml
*jar
lib/*
classes/*
out/*
target/*
.lein-deps-sum
.lein-repl-history
.lein-plugins/*
node_modules/*
*.iml
*.ipr
*.iws
electron/*
figwheel_server.log
.nrepl-port
/app/dev/js/out_front
/app/dev/js/out_main
/app/dev/js/cljsbuild-main.js
/app/prod/js/out_front
/app/prod/js/out_main
/app/prod/js/cljsbuild-main.js
