.DS_Store
pom.xml
*jar
lib/*
classes/*
out/*
target/*
.lein-deps-sum
.lein-repl-history
.lein-plugins/*
node_modules/*
*.iml
*.ipr
*.iws
electron/*
figwheel_server.log
.nrepl-port
app/dev/js
app/prod/js
.#*
.lein-failures
.cljs_rhino_repl/*
checkouts/*
.tmux
anh-darwin-x64
anh-darwin-arm64
wtf
.eastwood
.clj-kondo
