body {
    background: darkgray;
}

.header-box, .footer-box{
    background: lightblue
}
.sidebar-header-box, .pictures-header-box {
    background: lightgreen;
}
::-webkit-scrollbar {
    width:0px;
}
