body {
    background: darkgray;
}

/* .header-box, .footer-box{ */
/*     background: lightblue */
/* } */

.sidebar-header-box, .pictures-header-box {
    background: lightgreen;
}
::-webkit-scrollbar {
    width:0px;
}

li {
    border: solid 1px darkgray;
}

.focused-panel .selected-tree-entry {
    border: solid 1px lightblue;
}

.unfocused-panel .selected-tree-entry {
    border: solid 1px gray
}

.selected-tree-entry {
    background: gray;
}

.tree-entry {
    border: solid 1px transparent}
p {
    margin:0px;
}
