body {
    background: darkgray;
}

/* .header-box, .footer-box{ */
/*     background: lightblue */
/* } */

.sidebar-header-box, .pictures-header-box {
    background: lightgreen;
}
::-webkit-scrollbar {
    width:0px;
}

li {
    border: solid transparent;
    border-width: 1px 0px 1px 1px;
}

.focused-panel .selected-tree-entry {
    border: solid lightblue;
    border-width: 1px 1px 1px 1px;
}

.unfocused-panel .selected-tree-entry {
    border: solid transparent;
    border-width: 1px 0px 1px 1px;
}

.selected-tree-entry {
    background: gray;
}

.tree-entry {
    border: solid 1px transparent;
    border-width: 1px 0px 1px 1px;
}

p {
    margin:0px;
}

.rc-typeahead-suggestions-container {
    position: relative;
}

.rc-typeahead-suggestion {
    height: 1.3em;
    padding: 0px;
}

.popover-title {
    background: gray;
    border: 0px;
}
